<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-toolbar color="primary">Start Bootstrap</mat-toolbar>
        <mat-nav-list>
          <mat-list-item>Dashboard</mat-list-item>
          <mat-list-item>Layouts</mat-list-item>
          <mat-list-item>Pages</mat-list-item>
          <mat-list-item>Charts</mat-list-item>
          <mat-list-item>Tables</mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>Dashboard</span>
            <span class="spacer"></span>
            <!-- <button mat-icon-button>
              <mat-icon>search</mat-icon>
            </button> -->
            <mat-form-field class="search-input" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput type="text">
                <button mat-icon-button matSuffix aria-label="Search">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            <button mat-icon-button>
              <mat-icon>person</mat-icon>
            </button>
          </mat-toolbar>
      </mat-sidenav-content>
</mat-sidenav-container>

